
body {
  background-color: #111;
  color: #eee;
  font-family: monospace;
  text-align: center;
}
.zone {
  display: inline-block;
  width: 150px;
  height: 200px;
  background-color: #222;
  border: 1px solid #444;
  margin: 10px;
  vertical-align: top;
  padding: 5px;
}
.row {
  margin: 10px auto;
}
.hand button {
  margin: 5px;
}
.log {
  border: 1px solid green;
  color: green;
  text-align: left;
  max-width: 90%;
  margin: auto;
  padding: 10px;
  height: 150px;
  overflow-y: scroll;
}
